@import "reset.css";

body {
  background-color: #DADFFC;
}
.top_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 60px;
  margin-bottom: 40px;
  background: #fff;
}
.top_menu a {
  margin: 0 20px;
}
.top_menu .logo {
  background-image: url('A_Logo.svg');
  width: 180px;
  height: 39px;
  display: block;
  background-size: contain;
}
